@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap');

h1 {
    color: antiquewhite;
    font-size: 100pt;
    background-color: black;
    /* width: 500pt; */
    width: 95%;
    /* height: 300pt; */
    /* font-family: "Playwrite DK Loopet"; */

    font-weight: 100;

    /* Border */
    /* border-width: 6px;
    border-style: groove;
    border-color: darkturquoise; */

    /* shortcut */
    border: 6px groove darkturquoise;
}


div#div1 {
    background-color: aqua;
    /* width: 100pt;
    height: 100px; */
    width: 90%;
    /* width: 20vw; */
    max-width: 400px;
    /* height: 150px;  => To resolve text overflow! */
    /* height: 2vh; */


    /* Fonts */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: "Playwrite DK Loopet", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 400;

    font-size: 60px;

    /*  */
    /* Border */
    /*  */

    border-width: 8px;
    border-style: dotted;


    position: absolute;
    left: 30%;
    top: 30px;
    /* bottom: 2%; */

    animation: UpAndDown 1000ms infinite alternate-reverse;
}

/* !important -> the most specific one can be, but it's a bad practice */

p#div2p1 {
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    border-radius: 5px;
    border-style: inset;
    border-color: black;

    position: relative;
    left: 50px;
    top: 30px;
}

p.div2p2 {
    color: red;
    background-color: chartreuse;

    font-size: 50px;

    border-radius: 8px;
    border-style: double;
    border-color: blueviolet;
}



/* Absolute position is based on the nearest "relative position" parent*/

.parent {
    background-color: red;
    width: 500px;
    height: 200px;

    position: relative;
}

.child {
    background-color: green;
    width: 20px;

    position: absolute;
    /* position: fixed; */
    bottom: 50%;
    right: 50%;
}

@media (max-width: 640px) {
    p.div2p2 {
        font-size: 30px;
    }
    
    h1 {
        font-size: 20px;
    }

    div#div1 {
        font-size: 20px;
    }
}


@media (max-width: 558px) {
    p.div2p2 {
        font-size: 25px;
    }
    
    h1 {
        font-size: 15px;
    }

    div#div1 {
        font-size: 10px;
    }
}


#btn1id {
    position: relative;
    left: 50%
}

* {
    box-sizing: border-box;
}

.btncls {
    background-color: rgba(7, 177, 177, 1);
    transition: padding 250ms;
}

.btncls:hover{
    background-color: rgba(7, 177, 177, .5);
    padding: 2px;
}

.btncls::before {
    content: "This is the ";
    background-color: aqua;
}


#Bye::after {
    content: " Untill We meet again!";
    background-color: aquamarine;

    font-size: xx-large;
    font-weight: 600;

    margin: 3px;
}


.bye {
    animation: UpAndDown 1000ms infinite alternate-reverse;
}



/* Defining Ups & Down Animation */
@keyframes UpAndDown {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(18px);
    }
}